.isdone{
    text-decoration: line-through;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  font-size: 14px;
  line-height: 22px;
  
}
.notdone{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
    font-size: 14px;
    line-height: 22px;
}

.delete{
    position: absolute;
    top: 10px;
    right: 10px;
}

.mycard {
 margin-bottom: 10px;
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap;
}